---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-argument-comment,
  bugprone-assert-side-effect,
  bugprone-branch-clone,
  bugprone-macro-parentheses,
  bugprone-macro-repeated-side-effects,
  bugprone-misplaced-operator-in-strlen-in-alloc,
  bugprone-misplaced-pointer-arithmetic-in-alloc,
  bugprone-misplaced-widening-cast,
  bugprone-multiple-statement-macro,
  bugprone-posix-return,
  bugprone-reserved-identifier,
  bugprone-signed-char-misuse,
  bugprone-sizeof-expression,
  bugprone-string-literal-with-embedded-nul,
  bugprone-suspicious-include,
  bugprone-suspicious-memset-usage,
  bugprone-suspicious-missing-comma,
  bugprone-suspicious-semicolon,
  bugprone-suspicious-string-compare,
  bugprone-swapped-arguments,
  bugprone-too-small-loop-variable,
  cert-err33-c,
  cert-flp30-c,
  cert-str34-c,
  misc-misleading-bidirectional,
  misc-misplaced-const,
  misc-redundant-expression,
  performance-no-int-to-ptr,
  portability-restrict-system-includes,
  readability-braces-around-statements,
  readability-duplicate-include,
  readability-misleading-indentation,
  readability-redundant-control-flow,
  readability-redundant-declaration
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
CheckOptions:
  portability-restrict-system-includes.Includes: '-*;fcntl.h;stdio.h;stdlib.h;string.h;sys/select.h;sys/stat.h;sys/types.h;sys/wait.h;time.h;unistd.h;errno.h'
...
